/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
    
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
  align-items: center;
}

#about-heading {
  text-align: center;
}

#about-text {
  text-align:left;
}


/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  float:left;
  align-items: right;
  display: flex;

}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

div {
  display:flex
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

p.center {
  text-align:center;
  display:flex;
  margin: 25px 50px 50px 25px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
  text-align: left
  ;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
